* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    z-index: 999;
    top: 0;
    transition:
        transform .2s ease,
        height .3s ease,
        background-color .3s ease;
}

.nomainheader {
    background-color: white;
}

.logo img {
    width: 70px;
    height: auto;
    position: relative;
    top: 2px;
}

.navbar {
    transition: color .4s ease;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    font-size: 16px;
    transition: color .3s ease;
}

.navbar.navbar2 li a {
    color: #000;
}

.navbar li a:hover {
    color: rgb(173,173,173);
}

#contenedorfondos1 {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.textoimagen {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 28%;
}

.textoimagen p {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: clamp(5px,5vw,80px);
    line-height: 1.2;
}

.textoimagen a {
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: clamp(0px,1.5vw,20px);
    text-decoration: none;
    transition: color .3s ease;
}

.textoimagen a:hover {
    color: rgb(82,82,82);
}

.botonesorden {
    display: flex;
    gap: 10px;
}

.header-oculto {
    transform: translateY(-100%);
}

.header-sube {
    background: white;
    height: 70px;
    box-shadow: 0 1px 5px rgb(194,194,194);
}

/*==========================
ICONOS HEADER
==========================*/

.header-icons{
    display:flex;
    align-items:center;
    gap:10px;
}

/*==========================
MENU USUARIO
==========================*/

.user-menu{
    position:relative;
}

.user-button{
    background:none;
    border:none;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.25s;
}

.user-button svg{
    pointer-events:none;
}

/*==========================
DROPDOWN
==========================*/

.dropdown-menu {
    position: fixed;
    top: 75px; /* base del header */
    right: 60px;
    width: 230px;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 10px 30px rgba(0,0,0,.10);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .25s, transform .25s, visibility .25s;
    z-index: 100;
}

.dropdown-menu.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}

.dropdown-menu a{

    display:flex;

    align-items:center;

    justify-content:space-between;

    text-decoration:none;

    color:#111;

    padding:16px 22px;

    font-family:"Oswald",sans-serif;

    font-size:14px;

    letter-spacing:.04em;

    transition:.25s;
    font-weight: 300;

}

.dropdown-menu a:not(:last-child){

    border-bottom:1px solid #eee;

}

.dropdown-menu a:hover{

    background:#f6f6f6;

    padding-left:28px;

}

.dropdown-menu .logout{

    color:#b10000;

}

.dropdown-menu .logout:hover{

    background:#fff4f4;

}